.input {
  position: relative;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    font-family: sans-serif;
  }
}

form {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;

  .btn {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.messages {
  border: 1px solid #ddd;
  padding: 1rem;
  min-height: 200px;
  max-height: 720px;
  overflow-y: auto;
  background: url(/assets/images/bg1.jpg) repeat fixed;
  background-size: contain;
}

.user-message {
  @apply ml-auto bg-amber-200 text-gray-600;
}

@media screen and (max-width: 768px) {
  .messages {
    min-height: 526px;
  }
}
