<footer class="w-full bg-gray-200">
  <div class="max-w-4xl mx-auto px-4 py-3">
    <div class="flex sm:flex-row flex-col items-center justify-between">
      <span class="text-gray-600 sm:mb-0 mb-3">
        <strong>AI Chat</strong> Designed By Samwize
      </span>
      <div class="flex items-center space-x-4">
        <button
          class="flex items-center space-x-1 bg-gray-800 text-gray-100 px-3 py-2 rounded-md"
        >
          <img
            class="h-8"
            src="assets/images/apple-logo.svg"
            alt="apple logo"
          />
          <span>Apple store</span>
        </button>
        <button
          class="flex items-center space-x-1 bg-gray-800 text-gray-100 px-3 py-2 rounded-md"
        >
          <img
            class="h-8"
            src="assets/images/google-play.svg"
            alt="apple logo"
          />
          <span>Google play</span>
        </button>
      </div>
    </div>
  </div>
</footer>
